StudVoice - university project for ranking teachers.
ПРОЕКТ ПОВИНЕН ПІДТРИМУВАТИ НАСТУПНІ ФУНКЦІЇ:
1. Як користувач, я можу зайти в систему під раніше створеним обліковим
записом, для подальшої роботи;
Необхідні умови:
• Користувач не авторизований у системі;
• Для користувача створений обліковий запис;
2. Як користувач, я можу переглянути інформацію про викладача(Відгуки, які були раніше написані. 
Його рейтинг в навчальному закладі.);
Необхідні умови:
• Викладач працює(працював) в університеті;
3. Як користувач, я можу здійснити пошук викладача;
Необхідні умови:
• Необхідні поля для заповнення: ініціали викладача, прізвище
• Викладач працює(працював) в університеті;
4. Як користувач, я можу переглянути рейтинг факультетів в університеті;
5. Як користувач(студент), я можу створити новий обліковий запис;
Необхідні умови:
• Не створений обліковий запис із такими ж заповненими полями;
• Необхідні поля для заповнення: ім’я, прізвище, по батькові, дата народження(для ідентифікації), номер залікової книжки,
 електронна адреса, ім'я користувача, пароль (мінімум 6 символів);
6. Як користувач(студент), я можу написати відгук для викладача;
Необхідні умови:
• Користувач повинен бути авторизованим у системі;
• Користувач ще не писав відгук;
• Викладач працює(працював) в університеті;
7. Як користувач(студент), я можу видалити, редагувати відгук про викладача;
Необхідні умови:
• Користувач повинен бути авторизованим у системі;
• Саме цей користувач написав відгук;
8. Як користувач(студент), я можу переглядати список оцінених мною викладачів;
Необхідні умови:
• Користувач повинен бути авторизованим у системі;
9. Як користувач(студент), я можу відсканувати qr код і перейти на сторінку викладача;
Необхідні умови:
• Користувач повинен бути авторизованим у системі;
10. Як користувач(викладач), я можу створити новий обліковий запис;
Необхідні умови:
• Не створений обліковий запис із такими ж заповненими полями;
• Необхідні поля для заповнення: ім’я, прізвище, по батькові, електронна пошта, ім'я користувача, пароль (мінімум 6 символів), університет, факультет, кафедра(для уніфікації);
11. Як користувач(викладач), я можу переглянути список відгуків студентів;
Необхідні умови:
• Користувач повинен бути авторизованим у системі;
12. Як користувач(викладач), я можу отримати власний qr код, для переходу на мою сторінку;
Необхідні умови:
• Користувач повинен бути авторизованим у системі;
