@import "variables.scss";

.teacher-header {
    height: 10%;
    margin: 3% 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.teacher-container {
    height: 70%;

    .teacher-lessons, .teacher-feedbacks {
        max-height: 50%;
    }

    .teacher-lessons, .teacher-feedbacks {
        display: flex;
        flex-direction: column;

        .lessons-container, .feedbacks-container {
            overflow-y: auto;            
            margin-bottom: 5%;
        }
    }
}
