@model StudVoice.BLL.DTOs.LessonDTO

@{
    ViewData["Title"] = "CreateLessonView";
}

<div class="create-lesson-container">
    <div class="teacher-header">
        <a asp-action="Index" asp-controller="Home">
            <img src="~/Content/images/back.svg" width="30px" />
        </a>
        <h4> Create Lesson</h4>
    </div>

    <hr />

    <div class="container row new-lesson-container">
        <form asp-action="AddLesson" asp-controller="Home" class="container row  flex-column">
            <div class="row data-container">
                <div class="col-6 input-container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label-sm">Please write down the subject title</label>
                        <input asp-for="Name" required class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateTime" class="col-form-label-sm">Choose date and time of the lesson</label>
                        <input asp-for="DateTime" required class="form-control" value="DateTime.Now"/>
                        <span asp-validation-for="DateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Theme" class="col-form-label-sm">Write the theme of the lesson</label>
                        <input asp-for="Theme" required class="form-control" />
                        <span asp-validation-for="Theme" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 description-container">
                    <div class="form-group description-container">
                        <label asp-for="Description" class="col-form-label-sm">Overall lesson description</label>
                        <textarea asp-for="Description" required class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <input hidden asp-for="TeacherId" value="@Model.TeacherId"/>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-12">
                    <input type="submit" value="Create" class="btn btn-primary float-left" />
                </div>
            </div>
        </form>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>
