
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

@Html.ActionLink("Register as Student", "RegisterStudent", "Account")
@Html.ActionLink("Register as Teacher", "RegisterTeacher", "Account")